@use "font";

.center {
  margin-left: auto;
  margin-right: auto;
}

#save {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #f1f1f1;

  #save-text {
    font-family: "Reggae", sans-serif;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70px;
    font-weight: bold;
    font-size: 16px;
  }

  #save-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    -webkit-mask: linear-gradient(
      to right,
      transparent,
      black 20px,
      black 90%,
      transparent
    );

    button {
      font-family: "Reggae", sans-serif;
      color: #000;
      width: 100%;
      height: 100%;
      min-width: 50px;
      border: none;
      text-align: center;

      &#btn-save-1,
      &#btn-save-6 {
        background-color: #ff9090;
        &:hover {
          background-color: #d07070;
        }
      }

      &#btn-save-2,
      &#btn-save-7 {
        background-color: #a0ffff;
        &:hover {
          background-color: #60d0d0;
        }
      }

      &#btn-save-3,
      &#btn-save-8 {
        background-color: #90ff90;
        &:hover {
          background-color: #70d070;
        }
      }

      &#btn-save-4,
      &#btn-save-9 {
        background-color: #ffff90;
        &:hover {
          background-color: #d0d050;
        }
      }

      &#btn-save-5,
      &#btn-save-10 {
        background-color: #f0a0f0;
        &:hover {
          background-color: #d080d0;
        }
      }
    }
  }
}

h1 {
  font-family: "Reggae", sans-serif;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  font-size: min(9vmin, 32px);
}

#info {
  font-family: "Reggae", sans-serif;
  color: #000;

  #data-title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  #span-last-date {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
  }

  #info-table {
    background-color: #f0f8ff;
    width: auto;
    height: 200px;

    td {
      white-space: nowrap;

      .info-text {
        font-size: small;
      }

      .info-text-sub {
        font-size: xx-small;
      }

      .info-num {
        font-size: x-large;
      }

      .info-num-sub {
        font-size: large;
      }
    }
  }
}

#btn-treasure-calc {
  width: auto;
  height: auto;
  font-size: medium;
  border: 1px #000 solid;
  background-color: #ddd;
  text-align: center;

  &:hover {
    background-color: #bbb;
  }
}

#btn {
  table {
    tr {
      td {
        white-space: nowrap;

        button {
          font-family: "Reggae", sans-serif;
          color: #000;

          border: none;
          background-color: #ddd;
          text-align: center;

          &:hover {
            background-color: #bbb;
          }

          &.btn-main {
            width: 4em;
            height: 3em;
            font-size: xx-large;
          }

          &.btn-sub {
            width: 5.34em;
            height: 2em;
            font-size: x-large;
          }
        }
      }
    }
  }

  .btn-bdata {
    border: none;
    font-weight: bold;
    background-color: #ddd;
    text-align: center;
    height: 2.5em;

    &:hover {
      background-color: #bbb;
    }
  }
}

#guide {
  font-size: larger;
  margin-top: 20px;
  margin-bottom: 20px;
}

#attention {
  color: red;

  #attention-list {
    list-style: "*";
    padding-left: 10px;
  }
}

footer {
  color: gray;
}
