/* 
* このファイルは、Reggae One-Regularフォントのサブセットを使用しています。
* 
* Reggae One-Regularフォントは、SILオープンフォントライセンス Version 1.1 に基づいてライセンスされています。
* オリジナルファイルは以下のURLから入手することが出来ます。
* 
*   https://github.com/fontworks-fonts/Reggae
*/

@font-face {
  font-family: "Reggae";
  src: url("font/subset-ReggaeOne-Regular.ttf") format("truetype");
}

#save,
#info,
button,
h1 {
  font-family: "Reggae", sans-serif;
}

#save {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #f1f1f1;
}

#save-container {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

#save-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: bold;
  font-size: 16px;
}

.save-list {
  margin: 0;
  padding: 0;
  width: 20%;
  height: 100%;
  text-align: center;
}

button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #ddd;
  text-align: center;
}

#btn-save-1 {
  background-color: #ff9090;
}

#btn-save-2 {
  background-color: #a0ffff;
}

#btn-save-3 {
  background-color: #90ff90;
}

#btn-save-4 {
  background-color: #ffff90;
}

#btn-save-5 {
  background-color: #f0a0f0;
}

#btn-save-1:hover {
  background-color: #d07070;
}

#btn-save-2:hover {
  background-color: #60d0d0;
}

#btn-save-3:hover {
  background-color: #70d070;
}

#btn-save-4:hover {
  background-color: #d0d050;
}

#btn-save-5:hover {
  background-color: #d080d0;
}

button:hover {
  background-color: #bbb;
}

footer {
  color: gray;
}

#info-table {
  background-color: #f0f8ff;
  font-size: x-large;
  width: auto;
  height: 200px;
}

#btn-treasure-calc {
  width: auto;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  border: 1px #000 solid;
}

#attention {
  color: red;
}

#attention-list {
  list-style: "*";
  padding-left: 10px;
}

#guide {
  font-size: larger;
  margin-top: 20px;
  margin-bottom: 20px;
}

#data-title {
  font-family: Arial, Helvetica, sans-serif;
}

.btn-main {
  width: 4em;
  height: 3em;
  font-size: xx-large;
}

.btn-sub {
  width: 5.34em;
  height: 2em;
  font-size: x-large;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.info-text {
  font-size: small;
}

.info-text-sub {
  font-size: xx-small;
}

.info-num-sub {
  font-size: large;
}

td {
  white-space: nowrap;
}
