/* 
* このファイルは、Reggae One-Regularフォントのサブセットを使用しています。
* 
* Reggae One-Regularフォントは、SILオープンフォントライセンス Version 1.1 に基づいてライセンスされています。
* オリジナルファイルは以下のURLから入手することが出来ます。
* 
*   https://github.com/fontworks-fonts/Reggae
*/

@font-face {
  font-family: "Reggae";
  src: url("font/subset-ReggaeOne-Regular.ttf") format("truetype");
}

#info,
button,
h1 {
  font-family: "Reggae", sans-serif;
}

button {
  text-align: center;
}

footer {
  color: gray;
}

#info-table {
  background-color: #f0f8ff;
  font-size: x-large;
}

#attention {
  color: red;
}

#attention-list {
  list-style: "*";
  padding-left: 10px;
}

#guide {
  font-size: larger;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-main {
  width: 4em;
  height: 3em;
  font-size: xx-large;
}

.btn-sub {
  width: 5.34em;
  height: 2em;
  font-size: x-large;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.info-text {
  font-size: small;
}

td {
  white-space: nowrap;
}
