@charset "UTF-8";
/* 
* このファイルは、Reggae One-Regularフォントのサブセットを使用しています。
* 
* Reggae One-Regularフォントは、SILオープンフォントライセンス Version 1.1 に基づいてライセンスされています。
* オリジナルファイルは以下のURLから入手することが出来ます。
* 
*   https://github.com/fontworks-fonts/Reggae
*/
@font-face {
  font-family: "Reggae";
  src: url("font/subset-ReggaeOne-Regular.ttf") format("truetype");
}
.center {
  margin-left: auto;
  margin-right: auto;
}

#save {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #f1f1f1;
}
#save #save-text {
  font-family: "Reggae", sans-serif;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 70px;
  font-weight: bold;
  font-size: 16px;
}
#save #save-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-mask: linear-gradient(to right, transparent, black 20px, black 90%, transparent);
}
#save #save-container::-webkit-scrollbar {
  display: none;
}
#save #save-container button {
  font-family: "Reggae", sans-serif;
  color: #000;
  width: 100%;
  height: 100%;
  min-width: 50px;
  border: none;
  text-align: center;
}
#save #save-container button#btn-save-1, #save #save-container button#btn-save-6 {
  background-color: #ff9090;
}
#save #save-container button#btn-save-1:hover, #save #save-container button#btn-save-6:hover {
  background-color: #d07070;
}
#save #save-container button#btn-save-2, #save #save-container button#btn-save-7 {
  background-color: #a0ffff;
}
#save #save-container button#btn-save-2:hover, #save #save-container button#btn-save-7:hover {
  background-color: #60d0d0;
}
#save #save-container button#btn-save-3, #save #save-container button#btn-save-8 {
  background-color: #90ff90;
}
#save #save-container button#btn-save-3:hover, #save #save-container button#btn-save-8:hover {
  background-color: #70d070;
}
#save #save-container button#btn-save-4, #save #save-container button#btn-save-9 {
  background-color: #ffff90;
}
#save #save-container button#btn-save-4:hover, #save #save-container button#btn-save-9:hover {
  background-color: #d0d050;
}
#save #save-container button#btn-save-5, #save #save-container button#btn-save-10 {
  background-color: #f0a0f0;
}
#save #save-container button#btn-save-5:hover, #save #save-container button#btn-save-10:hover {
  background-color: #d080d0;
}

h1 {
  font-family: "Reggae", sans-serif;
  color: #000;
}

#info {
  font-family: "Reggae", sans-serif;
  color: #000;
}
#info #data-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
#info #span-last-date {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}
#info #info-table {
  background-color: #f0f8ff;
  width: auto;
  height: 200px;
}
#info #info-table td {
  white-space: nowrap;
}
#info #info-table td .info-text {
  font-size: small;
}
#info #info-table td .info-text-sub {
  font-size: xx-small;
}
#info #info-table td .info-num {
  font-size: x-large;
}
#info #info-table td .info-num-sub {
  font-size: large;
}

#btn-treasure-calc {
  width: auto;
  height: auto;
  font-size: medium;
  border: 1px #000 solid;
  background-color: #ddd;
  text-align: center;
}
#btn-treasure-calc:hover {
  background-color: #bbb;
}

#btn table tr td {
  white-space: nowrap;
}
#btn table tr td button {
  font-family: "Reggae", sans-serif;
  color: #000;
  border: none;
  background-color: #ddd;
  text-align: center;
}
#btn table tr td button:hover {
  background-color: #bbb;
}
#btn table tr td button.btn-main {
  width: 4em;
  height: 3em;
  font-size: xx-large;
}
#btn table tr td button.btn-sub {
  width: 5.34em;
  height: 2em;
  font-size: x-large;
}
#btn .btn-bdata {
  border: none;
  font-weight: bold;
  background-color: #ddd;
  text-align: center;
  height: 2.5em;
}
#btn .btn-bdata:hover {
  background-color: #bbb;
}

#guide {
  font-size: larger;
  margin-top: 20px;
  margin-bottom: 20px;
}

#attention {
  color: red;
}
#attention #attention-list {
  list-style: "*";
  padding-left: 10px;
}

footer {
  color: gray;
}
